* {
  padding: 0px;
  margin: 0px;
}

.navbar {
  background-color: hsl(0, 0%, 100%);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.logo {
  color: hsl(0, 20%, 99%);
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  padding: 20px;
  font-weight: bold;
  color: black;

}

.nav-links li {
  margin-left: 20px;

}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: hsl(0, 100%, 50%)
}

.picture1 {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 300px;
  color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 20px;

}

.mobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 130px;
  margin-left: 45px;
  color: rgb(0, 0, 0);
}

.img {
  margin-top: 25px;
}

.picture:hover {
  box-shadow: black;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}
.a{
  padding:10px;
  margin-left: 20px;
}
.b{
  padding:10px;
  margin-left: 10px;
}