* {
  padding: 0;
  margin: 0;

}

.navbar {
  background-color: oklab(100% 0 -0.00011);
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  ;
}

.logo {
  border-radius: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.logo img {
  border-radius: 100px;
  margin-left: 30px;
}

.logo:hover {
  transform: scale(2);
}

.nav-links {
  display: flex;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;

}

.letter {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-links li {
  margin-left: 20px;

}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  transition: color 0.3s ease;
  padding: 90px;
}

.nav-links a:hover {
  color: hsl(0, 100%, 50%);
}

.photo {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  box-shadow: black;
  border-radius: 30px;
  width: 500px;
  margin: auto
}

.picture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  height: 250px;
  width: 1000px;
  gap: 50px;
  margin: auto;
  margin-bottom: 70px;
}

.p {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.p:hover {
  transform: translateY(-5px);
}

body {
  background-color: white;
}
a {
  padding: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);

}

.box a:hover {
  color: rgb(47, 28, 216);
}

.box1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

body {
  overflow-x: hidden;
}