* {
  padding: 0;
  margin: 0;

}

.navbar {
  background-color: oklab(100% 0 -0.00011);
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  border-radius: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.logo img {
  border-radius: 100px;
  margin-left: 30px;
}

.logo:hover {
  transform: scale(1.02);
}

.nav-links {
  display: flex;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;

}

.letter {
  margin-left: 50px;
  text-align: center;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.nav-links li {
  margin-left: 20px;

}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  transition: color 0.3s ease;
  padding: 90px;
}

.nav-links a:hover {
  color: hsl(0, 100%, 50%);
}

.picture:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.02);
  width: 300px;
  color: rgb(0, 0, 0);
  text-align: center;

}

.mobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 130px;
  padding-bottom: 55px;
  margin-right: 45px;
}

.mobile2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 55px;
  margin-right: 45px;
}

.mobile3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 55px;
  margin-right: 45px;
}

img {
  margin-top: 25px;
}

.picture:hover {
  transition: 30;
  background-color: oklab(100% 0 -0.00011);
  color: #ffffff;
}

.letter {
  font: 100;
  display: grid;
}

.words {
  padding: 80px;
}

.felling {
  font-weight: bold;
  padding: 10px;
}

div::first-letter {
  font-size: 40px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

body {
  overflow-x: hidden;
}